.filter__container{
   text-align: left;
    
   padding: 40px !important;
   padding-right: 40px!important;

   margin-left: 200px;
   margin-top: 20px;
   

    width: 30% !important;
    min-width: 210px;
    
    border-radius: 20px;
    background: #ffffff;
    box-shadow:  13px 13px 26px #d9d9d9,
                 -13px -13px 26px #ffffff;
}

.filter__container h3{
    width: 100%;
    text-align: left;
}

#exampleSearch{
width: 150px;
}

.exampleCustomSwitch label{
    font-size: xx-small;
    }

.switch__container{
    padding-top: 10px;
}

.search__button{
    font-size: medium;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    color: black !important;
    border-radius: 10px;
    border-color: black;
    border-width: 2px !important;
    background-color: rgb(255, 255, 255) !important;
    border-style: solid;
}

.clear__button{
    color: white;
    font-size: medium;

    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;

    margin-top: 5px;

    border-radius: 10px;
    border-color: black !important;
    border-width: 2px;
    background-color: black !important;
    border-style: solid;
}

.createmessage__button{
    padding-top: 10px;

    width: 50px;

    display: inline-block;

}