/*Homepage div*/

/*
.home__container {
display: grid
}*/
.home__container {
    height: 800px;
    background: linear-gradient(-45deg, #0e332c, #659B91, #99E6D8,#eaf9f7);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#Homepage{
    text-align: center;
}

.home__logo{
    margin-top: 3rem;
    width: 15%;
    margin-bottom: 1rem;
}

.arrow__down__ref{
    text-decoration: none;
    color:#A0D4CE;
}

