.title {
  margin: 12px 8px 0 8px;
  font-family: Reflector;
  color: #a0d4ce;
  align-self: center;
  text-align: center;
  align-content: center;
}
/* create that awesome grid batch */

.Messageboard {
  width: 100%;
}

.all_messages_container {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  display: block;
}

.all_messages_div {
  max-width: 70vh;
  min-height: 40vh;
}

.createmessage__button {
  align-items: center !important;
  align-content: center !important;
  text-align: center !important;
  align-self: center !important;
  align-items: center !important;

  width: 150px;
  margin-top: 20px;
  margin-left: 46%;
  margin-right: 46%;
}

.createmessage__button:hover {
  border-radius: 50%;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 1225px) {
  .Messageboard {
    width: 100%;
  }
  .all_messages_container {
    padding-left: 2%;
    padding-right: 9%;
    width: 800px;
  }
}

@media screen and (max-width: 1079px) {
  .all_messages_container {
    padding-left: 1%;
    padding-right: 98%;
    width: 800px;
  }

  title {
    font-size: 24px;
  }
}

@media screen and (max-width: 1019px) {
  .Messageboard {
    width: 100%;
    margin-left: 2%;
  }
 h1{
   align-items: center;
   text-align: center;
   margin-left: 8%;
 }

}

@media screen and (max-width: 870px) {
  .all_messages_container {
    padding-left: 12%;
    width: 600px;
  }
}

@media screen and (max-width: 740px) {
  .all_messages_container {
    padding-left: 8%;
    width: 600px;
  }
}

@media screen and (max-width: 687px) {
  .all_messages_container {
    padding-left: 4%;
    width: 600px;
    
  }

  .title{
    font-family: Reflector;
    color: #a0d4ce;
    font-size: 28px;
    margin-left: 20%;
  }
  .createmessage__button {
    width: 100px;
    margin-top: 20px;
    margin-left: 48%;
    margin-right: 40%;
  }
}
