.messagelong_container {
    align-items: center !important;
    align-content: center !important;
    text-align: center !important;
    align-self: center !important;
    align-items: center !important;

    padding-left: 25%;
    padding-right: 25%;
}

.message_details {
    text-align: left;
    color: black !important;
 
    width: 700px !important;
    min-height: 250px !important;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 13px 13px 26px #d9d9d9,
    -13px -13px 26px #ffffff;

    text-align: center !important;
    align-self: center !important;

    padding: 40px!important;
    margin-left: 16%;
    margin-right: 16%;
    margin-top: 30px !important;
}