.title{
    margin: 12px 8px 0 8px;
    font-family: Reflector;
    color:#A0D4CE;
    align-self: center;
    text-align: center;
    align-content: center;
}
/* create that awesome grid batch */

.Messageboard{
    width: 100%;
}

.all_messages_container {
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 30px;
}

.all_messages_div{
  max-width: 100vh;
}

.createmessage__button{
    align-items: center;
    color: black;
    width: 300px;

}

.create_message{
  font-family: Reflector;
  align-items: center;
  color:black 
}

