.messageboard_preview{
    text-align: left;
     

    width: 60% !important;

     border-radius: 20px;
     background: #ffffff;
     box-shadow:  13px 13px 26px #d9d9d9,
                  -13px -13px 26px #ffffff;
 }

.message_div{
    text-align: left;
    color: black !important;

    padding: 30px;

    min-width: 250px !important;
    min-height: 250px !important;

    border-radius: 20px;
    background: #ffffff;
    box-shadow: 13px 13px 26px #d9d9d9,
    -13px -13px 26px #ffffff;
 }

 .button {
     background-color: black !important;
     color: white;

     border:  none !important;

     padding-top: 4px;
     padding-bottom: 4px;
     padding-left: 10px;
     padding-right: 10px;
 
 }

 .button:hover {
    background-color: #A0D4CE!important;
    color: white;

    border:  none !important;
 }

 h2{
    font-family: poppins;
    font-weight: bold;
    color:#A0D4CE;
 }