.title{
    margin: 12px 8px 0 8px;
    font-family: Reflector;
    color:#A0D4CE;
    align-self: center;
    text-align: center;
    align-content: center;
}


/* create that awesome grid batch */

.Messageboard{
    width: 100%;
}

.createmessage__button{
    align-items: center;
    color: black;
}

<<<<<<< HEAD
=======
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
>>>>>>> c8cbd41552314118852c5fb6788e94c21f233bd9
