.message_div{
    text-align: left;
    color: black !important;

    padding: 30px;

    width: 250px !important;
    min-height: 250px !important;

    border-radius: 20px;
    background: #ffffff;
    box-shadow: 13px 13px 26px #d9d9d9,
    -13px -13px 26px #ffffff;
 }

 .button {
     background-color: black !important;
     color: white;

     border:  none !important;

     padding-top: 4px;
     padding-bottom: 4px;
     padding-left: 10px;
     padding-right: 10px;
 
 }

 .button:hover {
    background-color: #A0D4CE!important;
    color: white;

    border:  none !important;
 }

 h2{
    font-family: poppins;
    font-weight: bold;
    color:#A0D4CE;
 }

 .grid-container {
   align-items: center !important;
   align-content: center !important;
   align-self: center !important;

   display: grid !important;
   grid-template-columns: 1fr 1fr 1fr !important;
   grid-template-rows: 1fr 1fr!important;
   grid-template-areas:
     ". . ."
     ". . ."
     ". . .";
 
   grid-column-gap: 20px!important;
   grid-row-gap: 40px!important;
 }