.titel{
    margin: 12px 8px 0 8px;
    font-family: Reflector;
    color:#A0D4CE;
    align-self: center !important;
    text-align: center !important;
    align-content: center !important;
}
  
  .Shopboard {
    width: 100%;
  }

  .all_shopitems__container{
    padding-left: 21%;
    padding-right: 21%;
    width: 100%;
    padding-top: 30px;
  }
  .shop__container {
    display: grid;
   grid-row-gap: 40px!important;
   grid-template-rows: auto auto !important;
   grid-template-columns: auto auto auto !important;
  }
 
  .all_shopitems_div{
    max-width: 100vh;
  }

  .createmessage__button{
    align-items: center !important;
    align-content: center !important;
    text-align: center !important;
    align-self: center !important;
    align-items: center !important;
  
    width: 150px;
    margin-top: 20px;
    margin-left: 46%;
    margin-right: 46%;
  
  }

  .createmessage__button:hover{
    border-radius: 50%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }



  @media screen and (max-width: 1172px) {
    .Shopboard{
        width: 100%;
    }
    .all_shopitems__container {
      padding-left: 6%;
      padding-right: 9%;
      width: 800px;
    }
    }
    
    @media screen and (max-width: 1151px) {
      .Shopboard{
          width: 70%;
      }
      .all_shopitems__container {
        padding-left: 2%;
        padding-right: 98%;
        width: 700px;
    
      }
      }
      
    @media screen and (max-width: 1065px) {
        .all_shopitems__container {
        padding-left: 0%;
        padding-right: 9%;
        width: 800px;
        
      }
      .Shopboard{
        width: 70%;
    }
      }
      
      @media screen and (max-width: 997px) {
        .all_shopitems__container {
        padding-left: 0%;
        width: 600px;
        
      }
      }
    
      @media screen and (max-width: 870px){
        .all_shopitems__container {
          padding-left: 10%;
          width: 600px;
          
        }

        .titel{
          text-align: center !important;
          font-family: Reflector;
          color:#A0D4CE;
          font-size: 24px;
          width: 100%;
          margin-left: 60%;
          margin-top: 23px;
      }
      }
    
      @media screen and (max-width: 740px){
        .all_shopitems__container {
          padding-left: 4%;
          width: 600px;
          
        }
        .Shopboard{
          width: 70%;
      }


      }
    
      @media screen and (max-width: 687px){
        .all_shopitems__container {
          padding-left: 4%;
          width: 600px;
          
        }
      }