.shopitemlong_container {
    align-items: center !important;
    align-content: center !important;
    text-align: center !important;
    align-self: center !important;
    align-items: center !important;

    padding-left: 25%;
    padding-right: 25%;
}

.shopitem_details {
    text-align: left;
    color: black !important;
 
    width: 700px !important;
    min-height: 250px !important;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 13px 13px 26px #d9d9d9,
    -13px -13px 26px #ffffff;

    text-align: center !important;
    align-self: center !important;

    padding: 40px!important;
    margin-left: 16%;
    margin-right: 16%;
    margin-top: 30px !important;
}

.h1 {
    font-family: Reflector;
    color: #A0D4CE;
}

.cardimg {
    border: none !important;
    border-radius: 10% !important;
}

h5{
    font-size: medium;
}

.button{
   background-color: black !important;
   color: white;
   border:  none !important;

   padding-top: 10px !important;
   padding-bottom: 10px !important;
   padding-left: 20px !important;
   padding-right: 20px !important;
}

.button:hover {
   background-color: #A0D4CE!important;
   color: white;
   border:  none !important;
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}